{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% if collector.calls|length > 0 %}
        {% set profiler_markup_version = profiler_markup_version|default(1) %}

        {% set icon %}
            {{ include('@SensioLabsConnect/Collector/icon.png.twig', { html_attributes: profiler_markup_version == 1 ? 'width="18" height="18" style="padding-top:6px;padding-bottom:4px;"' }) }}

            {% if profiler_markup_version == 1 %}
                <span class="sf-toolbar-status">{{ collector.calls|length }}</span>
            {% else %}
                <span class="sf-toolbar-value">{{ collector.calls|length }}</span>
            {% endif %}
        {% endset %}

        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: profiler_url, status: status|default('') }) }}
    {% endif %}
{% endblock %}

{% block menu %}
    {% set profiler_markup_version = profiler_markup_version|default(1) %}

    {% if profiler_markup_version == 1 %}
        <span class="label">
            <span class="icon">
                {{ include('@SensioLabsConnect/Collector/icon.png.twig') }}
            </span>
            <strong>Connect</strong>
            <span class="count">
                <span>{{ collector.calls|length }}</span>
            </span>
        </span>
    {% else %}
        <span class="label {{ collector.calls|length == 0 ? 'disabled' }}">
            <span class="icon">
                {{ include('@SensioLabsConnect/Collector/icon.png.twig') }}
            </span>
            <strong>Connect</strong>
        </span>
    {% endif %}
{% endblock %}

{% block panel %}
    <h2>SensioLabsConnect Calls</h2>

    {% for call in collector.calls %}
        <table>
            <tr>
                <th>
                    Request
                </th>
                <td>
                    <table style="max-width: 100px">
                        <tr>
                            <th>Method</th>
                            <td>{{ call.request.method }}</td>
                        </tr>
                        <tr>
                            <th>Url</th>
                            <td>{{ call.request.url }}</td>
                        </tr>
                        <tr>
                            <th>Headers</th>
                            <td>
                                <ul>
                                    {% for header in call.request.headers %}
                                        <li style="white-space:nowrap;">{{ header }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Content</th>
                            <td><pre>{{ call.request.content }}</pre></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th>Replay with Curl</th>
                <td>
                    <pre><code>curl "{{ call.request.url }}" -X {{ call.request.method}} {% for header in call.request.headers %}-H "{{ header }}" {% endfor %}{% if call.request.content %}--data "{{ call.request.content }}"{% endif %} </code></pre>
                </td>
            </tr>
            <tr>
                <th>
                    Response
                </th>
                <td>
                    <table>
                        <tr>
                            <th>StatusCode</th>
                            <td>{{ call.response.statusCode }} {{ call.response.reasonPhrase}}</td>
                        </tr>
                        <tr>
                            <th>Headers</th>
                            <td>
                                <ul>
                                    {% for header in call.response.headers %}
                                        <li style="white-space:nowrap;">{{ header }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Content</th>
                            <td><pre>{{ call.response.content }}</pre></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    {% else %}
        <div class="empty">
            <p>There are no SensioLabsConnect calls.</p>
        </div>
    {% endfor %}
{% endblock %}
